<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doliao.mapper.ArticleTypePoMapper">
    <resultMap id="BaseResultMap" type="com.doliao.po.ArticleTypePo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="recid" jdbcType="INTEGER" property="recid"/>
        <result column="typeid" jdbcType="INTEGER" property="typeid"/>
        <result column="articleid" jdbcType="INTEGER" property="articleid"/>
    </resultMap>

    <delete id="delArticleTypeByArtId" parameterType="java.lang.Integer">
    DELETE  from blog_article_type where articleid =#{articleid,jdbcType=INTEGER}
  </delete>
</mapper>