<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doliao.mapper.LinksPoMapper">
  <resultMap id="BaseResultMap" type="com.doliao.po.LinksPo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="recid" jdbcType="INTEGER" property="recid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
</mapper>