<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>大园子的博客</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png" media="screen"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery-1.10.2.min.js"/>
    <script src="/bootstrap/js/bootstrap.min.js"/>
    <script src="/js/doliao.js"/>
    <script src="/js/blog/article.js"/>
    <!--<script src="/wangEditor-3.0.4/release/wangEditor.js"/>-->
</head>
<body>
<div class="body-content">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="tag-content">
                <div class="person-info">
                    <ul>
                        <li><a href="/"><img src="/img/logo.png"/></a></li>
                        <br/>
                        <li><span class="fa fa-smile-o"/> 大园子的博客</li>
                        <li><span class="fa fa-qq"/> 784589080</li>
                        <li><span class="fa fa-envelope"></span> eoooxy@163.com</li>
                    </ul>
                </div>
            </div>
            <div class="tag-content">
                <div class="panel-heading tag-title">
                    <span>分类</span><a class="fa fa-bars" style="float: right"/>
                </div>
                <div class="panel-body">
                    <ul>
                        <li th:each="o:${typeVos}">
                            <a th:onclick="'filterType(\''+${o.name}+'\')'" th:text="${o.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tag-content">
                <div class="panel-heading tag-title">
                    <span>标签</span>
                </div>
                <div class="panel-body">
                    <ul class="tag">
                        <li th:each="o:${tagVos}">
                            <a class="label label-default" th:onclick="'filterTag(\''+${o.name}+'\')'"
                               th:text="${o.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tag-content">
                <div class="panel-heading tag-title">
                    <span>日期归档</span><a class="fa fa-bars" style="float: right"/>
                </div>
                <div class="panel-body">
                    <ul>
                        <li th:each="o:${fileVos}">
                            <a th:onclick="'filterTime(\''+${o.filetime}+'\')'"
                               th:text="${o.filetime}+' ('+ ${o.num}+')'"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 article-content">
                <header>
                    <h4 th:text="${article.title}"></h4>
                    <hr/>
                </header>
                <div class="body" th:utext="${article.content}">
                </div>
                <div class="col-md-12 tag-time">
                    <div class="tag" style="float: left">
                        <label>
                            <span class="fa fa-calendar"/> <label th:text="${article.createtime}"/>
                        </label>
                        <label th:if="${not #lists.isEmpty(article.tags)}">
                            <span class="fa fa-tags"/>
                            <a class="label label-default" th:each="s:${article.tags}" th:text="${s}"
                               th:onclick="'filterTag(\''+${s}+'\')'"></a>
                        </label>
                    </div>
                    <div th:style="${isMaster}?'float: right':'display: none'">
                        <span class="fa fa-edit"/>
                        <a style="color: #000" th:onclick="'editArticle(\''+${article.recid}+'\')'">编辑</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 article-content">
                <div class="" style="float: left;">
                    <span class="fa  fa-arrow-circle-left "/>
                    <a th:if="${preArticle!=null}" th:onclick="'article(\''+${preArticle.recid}+'\')'"
                       th:text="${preArticle.title}"></a>
                    <a th:if="${preArticle==null}" th:text="已经是翻到最前面了啦"></a>
                </div>
                <div class="" style="float: right;">
                    <a th:if="${nextArticle!=null}" th:onclick="'article(\''+${nextArticle.recid}+'\')'"
                       th:text="${nextArticle.title}"></a>
                    <a th:if="${nextArticle==null}" th:text="已经是最后一篇文章啦"></a>
                    <span class="fa  fa-arrow-circle-right  "/>
                </div>
            </div>

            <div class="col-md-12 article-content message-board">
                <div class="col-md-12">
                    <input hidden="hidden" id="uid" th:value="${uuid}"/>
                    <span class="fa fa-book"> 留言板</span>
                    <hr/>
                    <ul th:if="${not #lists.isEmpty(commentVos)}" th:each="c,i:${commentVos}">
                        <li>
                            <label th:text="'#'+${i.count}+' '+${c.username}+' '+${c.createtime}"></label>
                            <label th:style="${c.userid == uuid}?'':'display: none'"><span class="fa fa-trash-o"/>
                                <a th:onclick="'delMsg(\''+${c.recid}+'\')'"> 删除</a>
                            </label>
                            <label>
                                <span class="fa fa-comments"/>
                                <a th:onclick="'msgTop(\''+${c.username}+'\')'"> 回复</a>
                            </label>
                        </li>
                        <li>
                            <pre th:utext="${c.msg}"/>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <!--<div id="msg-bar" class="toolbar"/>-->
                    <div class="col-md-12">
                        <textarea id="msg-area" style="width: 100%;height: 200px"/>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-7">
                            <span style="line-height: 30px">点击图标快速登录：</span>
                            <a id="githubAuthorizationUrl" href="" ><img src="/img/qq.png" /></a>
                            <a id="qqAuthorizationUrl" href="" ><img src="/img/git.png" /></a>

                        </div>
                        <div class="col-md-5">
                            <span id="msg-tops" hidden="hidden" style="line-height: 30px;color: red">少年郎，登录之后，方可留言！</span>
                        <a class="btn btn-default" style="float: right"
                               th:onclick="'saveMsg(\''+${article.recid}+'\')'">提交</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12  git-link">
            <hr/>
            <a href="https://github.com/eoooxy" target="_blank"><span class="fa fa-github fa-3x"></span></a>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js" zIndex="-1" count="200"/>
<script type="text/javascript">

</script>
</body>
</html>